* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.webcam {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;

    &__video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        background: black;
    }

    &__select {
        z-index: 1;
        padding: 1rem;
        margin: 2rem;
        border: none;
        border-radius: 0.5rem;
        color: #ffffff;
        background-color: rgba(#000000, 0.5);
        transition:
            opacity 200ms ease-out,
            transform 200ms ease-out;

        &:not(:focus)[data-controls-visible='false'] {
            [data-has-js='true'] & {
                opacity: 0;
                transform: translateY(1rem);
            }
        }
    }
}