@font-face {
	font-family: 'Public Sans';
	src:
   		local('Public Sans Light'),
		local('PublicSans-Light'),
		url('/public/fonts/public-sans/PublicSans-Regular.woff2') format('woff2'),
		url('/public/fonts/public-sans/PublicSans-Regular.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Public Sans';
	src:
   		local('Public Sans Regular'),
		local('PublicSans-Regular'),
		url('/public/fonts/public-sans/PublicSans-Medium.woff2') format('woff2'),
		url('/public/fonts/public-sans/PublicSans-Medium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Public Sans';
	src:
   		local('Public Sans Bold'),
		local('PublicSans-Bold'),
		url('/public/fonts/public-sans/PublicSans-SemiBold.woff2') format('woff2'),
		url('/public/fonts/public-sans/PublicSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Public Sans', 'Open Sans', sans-serif;
}

.no-script {
    [data-has-js='true'] & {
        display: none;
    }
}

.webcam {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;

    [data-has-js='false'] & {
        display: none;
    }

    &__video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        background: black;
    }

    &__select {
        z-index: 1;
        padding: 1rem;
        margin: 2rem;
        border: none;
        border-radius: 0.5rem;
        color: #ffffff;
        background-color: rgba(#000000, 0.5);
        transition:
            opacity 200ms ease-out,
            transform 200ms ease-out;

        &:not(:focus)[data-controls-visible='false'] {
            [data-has-js='true'] & {
                opacity: 0;
                transform: translateY(1rem);
            }
        }
    }
}